<% if @correct_ratio != nil and @condition != :exam %>
	<div id="last-question-correct">
		Last Question: 
		<span class="<%= @correct ? 'correct' : 'incorrect' %>">
			<%= @correct ? "Correct!" : @correct_ratio > 0.25 ? "Partially Correct" : "Incorrect" %>
		</span>
	</div>		
<% end %>


<div id="title">
	<% if @state == :study %>
		Study this concept:
	<% elsif @state == :recall %>
		&nbsp;		
	<% else %>
		&nbsp;
	<% end %>
</div>	

<div id="step-box">			
	
	<%= form_tag( complete_step_test_index_path, {:onSubmit => 'beforeSubmit()'} ) do %>
	
		<% if @state == :study %>
			<p class="question"><%= @question.question_text %></p><br/>
			
			<p class="answer">Answer: <%= highlight_question_keyword_misses( @question.study_text, @keyword_misses ) %></p>
			<%= hidden_field_tag :study_time, "0" %>
			<p class="next-link"><%= submit_tag "Next", :id => "next-button" %></p>
			
		<% elsif @state == :recall %>
			<p class="question"><%= @question.question_text %></p>
			<%= text_area_tag "response" %><br/>
			<%= hidden_field_tag :total_reaction_time, "0" %>
			<%= hidden_field_tag :recall_reaction_time, "0" %>
			<%= hidden_field_tag :keystroke_count, "0" %>
			
			<% if @condition != :exam %>
				<p class="correct-responses">Question <%= @question_count_current %> of <%= @question_count_total %>. You have correctly answered this question <%= pluralize( @correct_response_count, "time" ) %> this week.</p>
			<% end %>
			<p class="next-link"><%= submit_tag "Next", :id => "next-button" %></p>
			
		<% elsif @state == :finished %>
		  <h2>You have completed the study for this week.</h2>
		  <h2>Thank you!</h2> 
		  <p class="next-link"><%= link_to "Sign Out", sign_out_test_index_path %></p>

		<% elsif @state == :recall_intro %>
			<h2>You will now recall the concepts you just studied.</h2>
			<p class="next-link"><%= submit_tag "Next", :id => "next-button" %></p>
		
		<% elsif @state == :study_intro %>
			<h2>You will now study a list of concepts.</h2>
			<p class="next-link"><%= submit_tag "Next", :id => "next-button" %></p>
			
		<% end %>
		
	<% end %>

</div>

<script type="text/javascript">
	
	startTime = 0;
	typingStartTime = null;
	keystrokeCount = 0;
	
	$(document).ready( function() {
		var date = new Date();
		startTime = date.getTime();
		
		$( "#response" ).keydown( function() {
			if( typingStartTime == null ) {
				var date = new Date();
				typingStartTime = date.getTime();
			}
			
			keystrokeCount += 1;
			$( "#keystroke_count" ).val( keystrokeCount );
		});
		
		$( "#response" ).focus();
	} );
	
	function beforeSubmit() {
		$( "#next-button" ).attr( 'disabled', 'disabled' );
		setTimes();
		keystrokeWarning();
		return true;
	}
	
	function setTimes() {
		var date = new Date();
		var endTime = date.getTime();
		
		var studyTime = endTime - startTime;
		$( "#study_time" ).val( studyTime );
		
		var totalReactionTime = endTime - startTime;
		$( "#total_reaction_time" ).val( totalReactionTime );
		
		var recallReactionTime = 0;
		if( typingStartTime != null ) {
			var typingTotalTime = endTime - typingStartTime;
			recallReactionTime = totalReactionTime - typingTotalTime;			
		}
		$( "#recall_reaction_time" ).val( recallReactionTime );
	}	
	
	function keystrokeWarning() {
		if( keystrokeCount > 0 && keystrokeCount < $( "#response" ).val().length ) {
			alert( "Please make sure to type responses directly. Copy/pasting is strongly discouraged." );
		}
	}
	
</script>