This test contains <%= pluralize(  Question.count, "question" ) %><br/>
<%= link_to "Add New", new_admin_question_path %>
<hr>

<h1>Active Questions</h1>

<ol id="question-list">
	<% @questions.each do |question| %>
		<li>
			<p><%= question.study_text %> (<%= question.keywords.map{ |keyword| keyword.original }.join( ", " ) %>) </p>
			<p><%= question.question_text %></p>
			<p><%= link_to "Edit", edit_admin_question_path( question ) %> 
			<%= link_to "Delete", admin_question_path( question) , :method => "DELETE", :confirm => "Are you sure you would like to delete this question?" %>
			<%= link_to "Deactivate", deactivate_admin_question_path( question ), %></p>
		</li>
	<% end %>
</ol>