<p>Id: <%= @user.id %></p>
<p>Email hash: <%= @user.email_hash %></p>

<hr>

<table>
	<tr>
		<% @user.tests.find(:all, :order => "week ASC").each do |test| %>
			<td width="60" class="cell-counterbalance <% if test.week == TestMeta.week %> this-week<% end %>"><%= test.week %></td>
		<% end %>
	</tr>	
	<tr>
		<% @user.tests.find(:all, :order => "week ASC").each do |test| %>
			<td width="60" class="cell-counterbalance counterbalance-<%= test.condition %>"><%= test.condition %></td>
		<% end %>
	</tr>
	<tr>
		<% @user.tests.find(:all, :order => "week ASC").each do |test| %>
			<td width="60" class="completed"><% if test.week <= TestMeta.week %><%= test.complete ? "Complete" : "-"%><% end %></td>
		<% end %>
	</tr>	
</table>

<%= form_for( @user, :url => admin_study_user_path( @user ) ) do |f| %>
	<ul id="user-week-list">
		<% @user.tests.find(:all, :order => "week ASC").each do |test| %>
			<li>
				<p>Week: <%= test.week %></p>
				<p>Complete: <%= test.complete %></p>
				<p>Started At: <%= test.started_at %></p>
				<p>Condition:
				
					<% if test.week < TestMeta.week %>
						<%= test.condition %>
					<% else %>
						<select name="condition[<%= test.week %>]">
			  				<option value="study" <% if test.condition == "study" %>selected="selected"<% end %> >Study</option>
			  				<option value="study_recall" <% if test.condition == "study_recall" %>selected="selected"<% end %> >Study/Recall</option>
			  				<option value="none" <% if test.condition == "none" %>selected="selected"<% end %> >None</option>
						</select>
					<% end %>
				</p>
			</li>
		<% end %>
	</ul>
	
	<%= f.submit "Update" %>
<% end %>