<h1>Test State</h1>
<hr>
<p>Current Test Week: <%= TestMeta.week %></p> 
<p>
	<% if TestMeta.week < TestMeta.max_weeks - 1 %><%= link_to "(advance to next week)", advance_to_next_week_admin_test_meta_path, :method => :post %><% end %>
	<% if TestMeta.week > 0 %><%= link_to "(revert to last week)", revert_to_last_week_admin_test_meta_path, :method => :post %><% end %>
</p>

<br/>
<%= form_tag( update_passes_admin_test_meta_path ) do %>
	<p>Passes through study text: <%= text_field_tag :study_text_passes, TestMeta.study_text_passes, :size => 2 %></p>
	<p>Correct responses for questions: <%= text_field_tag :correct_response_passes, TestMeta.correct_response_passes, :size => 2 %></p>
	<p><%= submit_tag "Change" %></p> 
<% end %>

<br/><br/><br/>

<h1>Test Questions</h1>
<hr>
<p><%= pluralize( @active_question_count, "active question" ) %></p>
<p><%= link_to "Edit", admin_questions_path %> | <%= link_to "Deactivate All", deactivate_all_admin_questions_path %></p>

<br/>
<p><%= pluralize( @inactive_question_count, "inactive question" ) %></p>
<p><%= link_to "Reactivate", inactive_admin_questions_path %> |  <%= link_to "Reactivate All", activate_all_admin_questions_path %></p>
		
<br/><br/><br/>

<h1>Study Users</h1>
<hr>
<p>These user records store test information. They are disassociated from user information and are identified by a hashed email address.</p>
<p><%= pluralize( StudyUser.count, "user" ) %> participating in this study</p>
<p><%= link_to "Edit", admin_study_users_path %></p>


<br/><br/><br/>

<h1>Responses</h1>
<hr>
<p><%= pluralize( Response.count, "response" ) %> completed</p>
<p><%= link_to "Dump Data", dump_admin_responses_path %></p>
<p><%= link_to "Delete All Responses", clear_all_admin_responses_path, :confirm => "Are you sure you would like to delete all responses?" %></p>


<br/><br/><br/>