<!DOCTYPE html>
<html>
<head>
  <title>Psych 120 Study</title>
  <%= stylesheet_link_tag 'scaffold', 'standard' %>
  
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery_ujs.js" %>
  <%= javascript_include_tag "jquery.elastic.source.js" %>
  
  
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header-bar">
	<div id="header-left">
		<p class="header-text">Psych 120 Study</p>
	</div>
	
	<div id="header-right">
		<% if @user.present? %><%= link_to "Sign Out", sign_out_test_index_path %><% end %>
	</div>
</div>

<div id="content">
	<%= yield %>
</div>

</body>
</html>
